.clientListDiv{
    display: flex;
    flex-direction: column;
margin: 10px;
width: 95%;
height: 350px;
max-height: 350px;
overflow-y: scroll;
border-radius: 5px;

border: 1px solid lightblue;
}
.clientPanel{
    background-color: aqua;
}
.clientItem{
    margin: 5px;
    height:fit-content;
    box-shadow: 0 0 7px rgba(21, 21, 21, 0.5);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightblue;

}
.clientInfoHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.clientName{
    text-align: center;
}
.clientInn{
    font-size: 8px;
    color: rgb(74, 74, 74);
}
.clientPartnershipAge{
    background-color: aquamarine;
    padding: 3px;
    font-size: 12px;
}