.docForm{
  display: flex;
  flex-direction: column;
  background-color: #e4f2ff26;
  width: 370px;
  align-items: center;
  border-radius: 4px;
}

.downloadFile{
  background-color: #fdfdfd5e;
  text-align: left;
  font-size: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  color: rgb(57, 52, 143);
  font-size: 14px;
  margin: 5px;
  height: 40px;
  padding-top: 2px;
  outline: 0;
  width: 70%;
  box-shadow: 0 0 3px rgb(39 42 120 / 50%);
}

.downloadFile:hover{
  background-color: #fdfdfd;
  text-align: left;
  font-size: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  color: rgb(57, 52, 143);
  font-size: 14px;
  margin: 5px;
  height: 40px;
  outline: 0;
  width: 70%;
  box-shadow: 0 0 3px rgb(39 42 120 / 50%);
}
.downloadFile::file-selector-button {
  background: #314797;
  border: 2px solid #314797;
  width: 120px;
  font-size: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  font-weight: 300;
  transition: .4s;
  text-align: center;
}
.downloadFile::file-selector-button:hover {
  background: #0e1739;
}

.submitDownload{
  background: #314797;
  border: 2px solid #314797;
  width: 120px;
  font-size: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  font-weight: 300;
  transition: .4s;
  text-align: center;
  margin-bottom: 10px;
}
.submitDownload:hover{
  background: #0e1739;
}