.box1{
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff61;
    width: 75%;
    height: 90%;


    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.upperMenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
border-radius: 3px;
    box-shadow: 3px 4px 8px rgb(0 0 0 / 10%);

}
.lowerComponents{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.activeButton1{
    color: #000000;
    width: 100%;
    height: 60px;
    border: 0px;
    border: 1.5px solid #314797;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background: #dfe1fd56;
    transition: .1s ease-in-out;
}
.unActiveButton1{
    color: #314797;
    width: 100%;
    height: 60px;
    border: 0px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
        text-align: center;
        font-weight: 300;
       background-color: white;
    transition: .1s ease-in-out;
}
.unActiveButton1:hover{
    scale: 1.01;
    background-color: #dfe1fd56;
}
.containerChanges{
    width: 60%;
        height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff21;
    border-radius: 5px;
    justify-content: space-evenly;

}
.profileAvatar{
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb;
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
  }
  .profileAvatar img{
    display: block;
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .imgProfile{
    width: 200px;
    height: 200px;
   }

   .formPersonalData{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff21;
    border-radius: 5px;
    padding: 20px;
   }
   .changeAva{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .buttonSubmitAva {
    background: none;
    border: 2px solid #00D4C6;
    width: 50%;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
    text-align: center;
    margin-bottom: 15px;
}
.buttonSubmitAva:hover {
  background-color: #00D4C6;
  color:#ffffff;
  transition: .2s ease-in-out;
}
.buttonSubmitData{
    background: none;
    border: 2px solid #00D4C6;
    width: 60%;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
    text-align: center;
    margin-top: 15px;
      margin-bottom: 15px;
}
.buttonSubmitData:hover {
    background-color: #00D4C6;
    color:#ffffff;
    transition: .2s ease-in-out;
  }
  .formlabel12{
    display: flex;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }
  .formLabel13{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }