.description1 {
    display: flex;
    flex-direction: column;
    /* height: 1000px; */
    padding: 50px;
}

.description1 h1 {
	margin: 0;
	font-size: 40px;
	color: rgb(255, 255, 255);
}

.description1 p {
	color: #c7c7c7;
    width: 40%;
	font-size: 20px;
}

.shop {
	background: none;
	border: 2px solid #00D4C6;
    width: 30%;
	text-decoration: none;
	color: #00D4C6;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 5px;
	font-weight: bold;
	transition: .4s;
    text-align: center;
}

.shop:hover {
	background: #00D4C6;
	color: #fff;
}