
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.formInput{
  display: flex;
  width: 75%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-control{
  width: 250px;
}

.fileImput{
}

.buttonSubmit{
  margin-top: 20px;
    display: flex;
    align-items: center;
    width: 40%;
    text-align: center;
    justify-content: center;
}

 .profileDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
 }
 .formData{
  display: flex;
  flex-direction: column;
  width: 50%;
 }