.clientDocFormAndList{
    display: flex;
flex-direction: column;
height: 100%;
}
.clientDocList{
display: flex;
flex-direction: column;
height: 100%;
margin: 10px;
overflow: scroll;
}
.clientDoc{
    display: flex;
    flex-direction: row;
background-color: rgb(255, 255, 255);
border-radius: 3px;
box-shadow: 0 0 10px rgba(184, 184, 184, 0.5);
margin: 5px;
padding:5px
}
.clientDocListDelBtn{
    border: none;
}