.chatPage {
    width: 100%;
    height: 100%;
}
.chat {
    width: 70%;
    height: 100%;
}
.beforeChat {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beforeChat>span {
  font-size:large;
}
.chatbox {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    /* background-color: white; */
    overflow: auto;
    overscroll-behavior: contain;
}

.chatform {
    display: flex;
    width: 100%;
    height: 10%;
    min-width: 250px;
}
.chatform > input {
    /* width: 80%; */
    /* border: solid 1px 0 0 0 black; */
    background-color: #fdfdfd;
    text-align: center;
    font-size: 16px;
    
    border-radius: 3px;
    box-sizing: border-box;
    border: 0;
    color: rgb(57, 52, 143);
    font-size: 14px;
    margin: 10px;
    height: 40px;
    outline: 0;
    padding: 2px 20px 0;
    width: 80%;
    box-shadow: 0 0 3px rgba(39, 42, 120, 0.5);
}
.sendBtn {
    width: 20%;
    border: none;
    margin: 9px 10px 10px 0;
    border-radius: 6px;
    /* background: #00ccff; */
    background: #6a84e0;
    color: white;
    font-size: 15px;
}
.sendBtn:hover {
  background: #05637a;
}
.chatPage {
    display: flex;
    flex-direction: row;
}
.chatContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    padding: 0 10px 0 10px;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
    background: white;
    width: 100%;
    /* overflow-y: auto; */
}
.contactbox {
    display: flex;
    color: #314797;
    width: 100%;
    height: 10%;
    border: 0px;
    border-radius: 3px;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    padding: 10px;
    background-color: white;
    transition: .1s ease-in-out;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.contactbox:hover {
    /* transform: scale(1.01);
    cursor: pointer; */
    scale: 1.01;
    background-color: #dfe1fd56;
}
.activeContact {
  display: flex;
  color: #314797;
  width: 100%;
  height: 10%;
  border: 0px;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  padding: 10px;
  transition: .1s ease-in-out;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  align-items: center;
  /* background-color: #aab9f1; */
  /* background-color: #00ccff; */
}
.chatbox-textstart {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 40%;
    /* background:#f6f6f6; */
    background: white;
    margin: 2.5% 0 2.5% 5%;
    border-radius: 15px 15px 15px 0;
    padding: 3%;
  }
  
  .chatbox-textend {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 40%;
    background:#e3effd;
    margin: 2.5% 5% 2.5% 0;
    border-radius: 15px 15px 0 15px;
    padding: 1%;
  }
  
  .chatbox-textend > .chatbox-date {
    align-self: flex-end;
  }
  .chatbox-textend > .chatbox-text {
    align-self: flex-end;
  }
  
  .chatbox-date {
    font-size: 0.8rem;
    margin-bottom: 1%;
  }
  
  .chatbox-text {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    margin: 5px;
  }
  .chatWith {
    height: 6%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-color:#dfe1fd56;
  }
  .chatStatus {
    display: flex;
    justify-content: center;
    height: 4%;
    background-color:#dfe1fd56;
    font-size: small;
  }
  .h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#dfe1fd56;
    height: 10%;
    margin: 0;
    width: 100%;
    border-left: 1px solid #c3c3c3;
  }
  .rightSide {
    height: 100%;
    width: 30%;
  }
  .iconOffline {
    height: 8px;
    width: 8px;
    margin-bottom: 1.1%;
    margin-left: 5px;
    z-index: 100;
    border-radius: 50%;
    background: rgb(212, 2, 2);
  }
  .iconOnline {
    height: 8px;
    width: 8px;
    margin-bottom: 1.1%;
    margin-left: 5px;
    z-index: 100;
    border-radius: 50%;
    background: rgb(10, 175, 10);
  }
  .circleAvatar {

    width: auto; 

    min-width: 47px;
    max-width: 57px;
    height: 100%;
    margin-right: 10px;
}
.circleAvatar1{
  /* display: flex; */
  position: relative;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.circleAvatar1 img {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    width:100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.img1{

  width: 100%;
  height: 100%;

}
.contact {
  display: flex;
    color: #314797;
    width: 80%;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: solid 1px rgb(216, 210, 210);
}
.iconOfflineA {
  position: absolute;
  height: 8px;
  z-index: 100;
  width: 8px;
  margin-bottom: 1.1%;
  margin-left: 5px;
  border-radius: 50%;
  background: rgb(212, 2, 2);
  border: solid 2px white;
  top: 70%;
  left: 65%;
}
.iconOnlineA {
  position: absolute;
  height: 8px;
  width: 8px;
  z-index: 100;
  margin-bottom: 1.1%;
  margin-left: 5px;
  border-radius: 50%;
  background: rgb(10, 175, 10);
  border: solid 2px white;
  top: 70%;
  left: 65%;
}
.lastMsg {
  display: flex;
  color: black;
  font-size: 15px;
  width: 100%;
}
.lastMsgFrom {
  color: #314797;
  margin-right: 5px;
  /* width: 15% */
}
.lastMsgText {
  /* width: 85%; */
  /* text-overflow: 'ellipsis';
  white-space: 'nowrap';
  overflow: 'hidden'; */
}
@media (min-width: 600px) and (max-width: 1200px) {
  .chatWithName {
    font-size: 16px;
  }
  .lastMsg {
    display: flex;
    color: black;
    font-size: 13px;
    width: 100%;
  }
.circleAvatar {
  width: auto; 
  min-width: 44px;
  height: 80%;
  margin-right: 10px;
}
.circleAvatar1{
position: relative;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
overflow: hidden;
background: #fff;
padding: 5px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}
.circleAvatar1 img {

  object-fit: cover;
  border-radius: 50%;
  display: block;
  width:100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}
.iconOfflineA {
  position: absolute;
  height: 7px;
  width: 7px;
  margin-bottom: 1.1%;
  margin-left: 5px;
  border-radius: 50%;
  background: rgb(212, 2, 2);
  border: solid 2px white;
  top: 65%;
  left: 60%;
}
.iconOnlineA {
  position: absolute;
  height: 7px;
  width: 7px;
  margin-bottom: 1.1%;
  margin-left: 5px;
  border-radius: 50%;
  background: rgb(10, 175, 10);
  border: solid 2px white;
  top: 65%;
  left: 60%;
}
.contact {
  display: flex;
    color: #314797;
    width: 80%;
    height: 100%;
    padding: 10px;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: solid 1px rgb(216, 210, 210);
}
 
}
