.header {
    display: flex;
    height: 8vh;
    background: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid cadetblue;
  }
  
  .navlogo {
    width: 15%;
  }
  
  .navlogout {
    width: 75px;
    height: 35px;
    background-color: cadetblue;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .navlogout:hover {
    background-color: aquamarine;
  }